</html>
<head>
  <title>Latest Movies</title>
</head>
<body>
  <%count = 1%>
<center><b><h1>Latest Movies</h1></b></center>
<fieldset>
  <div align="right"><%=text_field :search, :movies, :placeholder => "Enter Title"%>&nbsp;&nbsp;<input type="button" value="Search" class="buttons" onclick="return SearchMovies(this);"></div>
</fieldset>
<div id="list_display">
<table id="movies">
    <th>Sl.No</th>
    <th>Title</th>
    <th>Year</th>
    <th>Poster</th>
    <th>Favourite</th>
  <%if !@lates_movies_list.blank?%>
  <%for movie_data in @lates_movies_list%>
  <%@fetch_data = getData(movie_data.imdbID)%>
  <tr onclick="expand(this,<%=count%>);">
    <td><%=count%></td>
    <td><%=@fetch_data["Title"]%></td>
    <td><%=@fetch_data["Year"]%></td>
    <td><%=image_tag "#{@fetch_data['Poster']}", :style=>"height: 100px;"%></td>
    <%if movie_data.favorite == "true"%>
    <td><%= check_box(:fav,:check,:index=>count,:onclick=>"fav_function(#{count},'#{@fetch_data["imdbID"]}')",:checked => true) %></td>
    <%else%>
    <td><%= check_box(:fav,:check,:index=>count,:onclick=>"fav_function(#{count},'#{@fetch_data["imdbID"]}')",:checked => false) %></td>
    <%end%>
    </tr>
  <tr id="hide_<%=count%>" style="display: none;">
    <td colspan="5">
      <table>
        <tr >
          <td><b>Actors</b></td><td><%=@fetch_data["Actors"]%></td>
        </tr>
        <tr >
          <td><b>Director</b></td><td><%=@fetch_data["Director"]%></td>
        </tr>
        <tr >
          <td><b>Languages</b></td><td><%=@fetch_data["Language"]%></td>
        </tr>
        <tr >
          <td><b>Rating</b></td><td> <%=@fetch_data["imdbRating"]%></td>
        </tr>
        <tr >
          <td><b>Released</b></td><td><%=@fetch_data["Released"]%></td>
        </tr>
        <tr >
          <td><b>Production</b></td><td><%=@fetch_data["Production"]%></td>
        </tr>
        <tr >
          <td><b>Plot</b></td><td><%=@fetch_data["Plot"]%></td>
        </tr>
        <tr >
          <td><b>Country</b></td><td><%=@fetch_data["Country"]%></td>
        </tr>
      </table>

  </td>
</tr>
<%count += 1%>
<%end%>
<%end%>
</table>
</div>
</body>
</html>
